/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.items-center-h{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.background{
    width: 100%;
    height: 100vh;
    background-image: url("../images/fondo.png");

    /*Centrar la  posicion de imagen*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*VISTA HOME*/

img{
    width: 25%;

}
.frase{
    width: 90%;
    padding-left:10%;
    margin-top: 15%;
    margin-bottom: 3%;
}
p{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Mulish', sans-serif;
}
.owl-carousel{
    height: 20vh;
    width: 100%;
}

.inputs input{
    width: 80%;
    padding: 2%;
    /*fondo del input transparente*/
    background-color:rgba(0, 0, 0, 0);
    /*borde*/
    border-radius: 0.25rem;
    border: #FFFFFF 1px solid;
}
.inputs input:focus{
    border-radius: 0.25rem;
    border: #FFFFFF 1px solid;
}
.inputs input::placeholder{
    color: #FFFFFF;
}

.submitBox{

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 80%;
    background-color: #00BDE0;
    padding: 1%;
    color: white;
    border-radius: 0.25rem;
    border: 0;
    font-size: 1.25rem;
    box-shadow: 0px 0px 50px -10px #1f1f1f;

}


.son{
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 0;
    color: #FFFFFF;

}
.son:hover{
    cursor: pointer;
}

.son2{
    z-index: 2;
    margin-left: auto;

}
/*RESPONSIVE VISTA HOME*/

@media (max-device-width: 480px){
  img{
      margin-top: 7%;
      width: 70%;
  }

    .submitBox{

        padding: 3%;
        width: 100%;
    }
    .son{
        font-weight: bold;
        font-size: 1.2rem;
    }
    .inputs input{
        font-size: 1rem;
        width: 100%;
    }
    .frase{
        margin-top: 25%;
    }
    .footter{
        margin-top: auto;
        margin-bottom: 5%;
    }
    p{
        font-weight: bold;
    }
}




/*VISTA RESULTADO*/
.boxes{
    display: flex;
    flex-direction: row;
}
.box{
    height:50vh;
    background-color: #306C77;
    opacity: 70%;
}
.box1{
    margin-left: 4%;
    width: 60%;


}

.box2{
    margin-left: 2%;
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.direction-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.info{
    padding: 0 !important;
}
.header{

}
.info-ciudad{
    padding-left: 20%;
    width: 50%;
    display: flex;
    justify-content:center ;
    flex-direction: column;
}
.info-ciudad div{
    padding:0;
}
.info-ciudad div p{
    color: #FFFFFF;
    font-size: 0.85rem;
    font-weight: bold;
}
.info-ciudad div h5{
    color: #e1dede;
    font-weight: unset;
    padding-right: 3%;
}
.codigo-postal, .nombre-ciudad{
    display: flex;
    flex-direction: row;
}
.buscar{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.buscar i{
    color: #FFFFFF;
    font-size: 1.3rem;
    padding-right: 3%;

}
.buscar a{
    width: 31%;
    font-size: 0.8rem;
    color: #cacaca;
    text-decoration: underline;
}

.ahora{
    width: 27%;
    height: 20vh;
    border-right: #FFFFFF 1px solid;
}
.prox, .dias{
    height: 20vh;


}
.owl-carousel{
    width: 100%;
    display: flex !important;
    flex-direction: row;
}
.info-box{
    display: flex;
    color: #FFFFFF;
}
.icon-box{
    height:1rem;
    font-size: 4em;
}
.temp2{
    font-size: 2rem;
}
.miniboxes{
    position: relative;
    top: -15%;
    display: flex;
   flex-direction: row;

}
.owl-stage{
    width: 200% !important;
}


.prox{
    width: 45%;
    border-right: #FFFFFF 1px solid;
}



.info-header{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    position: relative;
    top: -15%;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    font-family: 'fontAwesome';

}

.info-minibox{
    height: 16vh;
    display: flex;
    flex-direction: column;
    wrap-option: no;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    color: #FFFFFF;
    border-right: #b3b3b3 1px solid ;
    width: 30%;
}
.owl-carousel{
    height: 30vh;
}
.owl-item{
    cursor: grab;
    height: 16vh !important;
    display: flex !important;
    flex-direction: column !important;
    wrap-option: no !important;
    align-items: center !important;
    font-family: 'Mulish', sans-serif !important;
    color: #FFFFFF !important;
    border-right: #b3b3b3 1px solid !important;


}

.info-minibox:last-child{
    border-right: 0px;

}
.info-minibox img{
    width: 100%;

}

.item{
    width: 50% !important;
}
.info-minibox2{
    height: 14vh;
    display: flex;
    flex-direction: column;
    wrap-option: no;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    color: #FFFFFF;
    border-right: #b3b3b3 1px solid ;
    width: 25%;
}
.info-minibox2:last-child{
    border-right: 0px;
}
.icon-box img{
    color: #FFFFFF;
    height:1.25em;
    width: 1.25em;
}

.h5{
    font-size: 0.75rem;

}

.lluvia{
    font-size: 0.70rem;

}
.lluvia-box p{
    font-size: 1rem;
}
.temp{
    position: absolute;
    top: 100%;
}

.dias{
    width: 45%;

}
.item{
    padding:  0 !important;

}
.owl-carousel{
    overflow: hidden;
    position: relative;
    top: -20%;
}


.top-minibox{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
}
.cp, .ciudad{
    display: flex;
    flex-direction: row;
}

.number, .top-temp, .top-infobox{
    margin-right: auto;
}
.top-temp{
    font-size: 2rem;
}
.cd-tittle, .cp-tittle{
    font-size: 0.75rem;
    padding-right: 5%;
}
.cd-info,.cp-info{
    font-size: 0.85rem;
    font-weight: bold;
}

.top-header{
    font-size: 1.3rem;
    font-weight:unset;
    font-family: 'Mulish', sans-serif;
    color: #FFFFFF;
}
hr{
    width: 100%;
}
div{
    padding: 2%;
}
.buscar-responsive{
    display: none;
}
@media (max-device-width: 1000px){
    .boxes{
        flex-direction: column;

    }

    .background{
        height: 150vh;
    }

    .box1{
        height: 100vh;
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .box2{
        margin-top: 10%;
        height: 100vh;
        width: 90%;
        display: flex;
        flex-direction: column;
       margin-left: 4%;
    }
    .info{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .ahora,.prox,.dias{
        width: 100%;
        border-right: 0;
    }
    .ahora{
        position: relative;
    }
    .ahora:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        display: block;
        clear: both;
        margin-top: 15%;
        background-color: #ffffff;
    }
    .owl-item{
        width: 12% !important;
    }

    .prox{
        padding-bottom: 75%;
        position: relative;
    }
    .prox:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        display: block;
        clear: both;
        margin-top: 15%;
        background-color: #ffffff;
    }
    .info-ciudad{
        padding: 0;
    }
    .buscar a{
        display: none;
    }
    .buscar-responsive {

        display: block;

    }
    .buscar-responsive a{
        color: #FFFFFF;
        font-size: 1.3rem;
        padding-right: 3%;
        text-decoration: none;
    }
}


